<!DOCTYPE html>
{% load thumbnail %}
<html lang="en">
<head>
    <title>{% block title %}Таунхаусы в Краснодаре{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{STATIC_URL}}css/grid.css" type="text/css" media="screen"> 
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap-select.min.css" type="text/css" media="screen">


    <script src="{{STATIC_URL}}js/jquery-1.6.3.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap-select.min.js" type="text/javascript"></script>

   	<!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
        	<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
	<![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
	<![endif]-->
    <script type="text/javascript">
        $(function(){
            $('.selectpicker').selectpicker();
        })
    </script>
    {% block head%}{% endblock %}
</head>
<body id="page1">
	<!--==============================header=================================-->
    <header>
    	<div class="menu-row">
        	<div class="main">
            	<nav class="wrapper">
                    {% block top_menu %}
                    <ul class="menu">
                        <li><a {%ifequal t_menu_active 1%}class="active"{%endifequal%} href="{% url home %}">Главная</a></li>
                        <li><a {%ifequal t_menu_active 2%}class="active"{%endifequal%} href="{% url towns %}">Таунхаусы</a></li>
                        <li><a {%ifequal t_menu_active 3%}class="active"{%endifequal%} href="{% url houses %}">Дома</a></li>
                       <!--  <li><a {%ifequal t_menu_active 4%}class="active"{%endifequal%} href="{% url order %}">Под заказ</a></li> -->
                        <li><a {%ifequal t_menu_active 5%}class="active"{%endifequal%} href="{% url contact %}">Контакты</a></li>
                    </ul>
                    {% endblock %}
                </nav>
            </div>
        </div>
        {% block extended_header %}{% endblock %}
    </header>
    <div id="content">
        <div class="main">
            <div class="container_12">
                <div class="wrapper">
                    {% block content %}{% endblock %}                       
                </div>
            </div>
        </div>
    </div>
    
	<!--==============================footer=================================-->
    <footer>
        <div class="main">
        	<div class="aligncenter">
                {% block footer %}{% endblock %}    
            </div>
        </div>
    </footer>
    {% block bottom_js %}{% endblock %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter22310387 = new Ya.Metrika({id:22310387,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/22310387" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>
