{% extends "base.html" %}
{% block content %}
<div class="well">
	<fieldset>
		<legend>Как с нами связаться</legend>
		<div class="row">
			<div class="span4">
				<img src="{{STATIC_URL}}images/contact.png" class="pull-left" />
				<div class="clr"></div>
				<br><br>
				<p>
					Так же вы можете связаться с нами по телефонам:<br>
					<strong class="pull-right">8(918)0156-186</strong><br>
					<strong class="pull-right">8(962)8690-448</strong>
				</p>
			</div>
			<div class="span6">
			<h3>Закажи звонок специалиста!</h3>
				<form id="contact-form" method="post" enctype="multipart/form-data">                    
					<fieldset class="span5">
						<label><span class="text-form">Ваше имя:</span><input type="text"></label>
						<label><span class="text-form">Ваш телефон:</span><input type="text"></label>      
						<button class="btn btn-success btn-large pull-right">Заказать</button>
					</fieldset>						
				</form>
			</div>
		</div>
	</fieldset>
</div>
{% endblock %}