{% load url from future %}
<div class="well">
		<form action="{% url 'filter' %}" method="GET" id="filter">
			<script type="text/javascript">
				$('#filter').submit(function() {
					$('#type-input').attr('value', $('#filter-type .active').index());
				  return true;
				});
			</script>
		    <div class="span2">
		        <label>Выберите район</label>
		        <select class="selectpicker span2" name="sector">
		        	<option value="">Все</option>
		            {% for sector in sector_list %}
		            	<option value="{{sector.pk}}" {% if sector.pk == filter.sector %} selected="selected" {% endif %}>{{sector}}</option>
					{% endfor %}
		        </select>
		    </div>
		    <div class="span4">
		        <label>Выберите тип объекта</label>
		        <div class="btn-group" id="filter-type" data-toggle="buttons-radio">
		          <button type="button" class="btn{% if filter.type == '0' %} active{% endif %}">Таунхаус</button>
		          <button type="button" class="btn{% if filter.type == '1' %} active{% endif %}">Дом</button>
		          <button type="button" class="btn{% if filter.type == '2' %} active{% endif %}">Дуплекс</button>
		          <button type="button" class="btn{% if filter.type == '3' %} active{% endif %}">Участок</button>
		        </div>
		        <input type="hidden" name='type' id="type-input" />
		    </div>
		    <div class="span2">
		        <label>Цена от:</label>
		        <select class="selectpicker span2" name="min_price">
		            <option value="">&nbsp;</option>
		            <option {% if filter.min_price == '1000' %}selected="selected"{% endif %}>1000</option>
		            <option {% if filter.min_price == '2000' %}selected="selected"{% endif %}>2000</option>
		        </select>
		    </div>
		    <div class="span2">
		        <label>Цена до:</label>
		        <select class="selectpicker span2" name="max_price">
		            <option value="">&nbsp;</option>
		            <option {% if filter.max_price == '1000' %}selected="selected"{% endif %}>1000</option>
		            <option {% if filter.max_price == '2000' %}selected="selected"{% endif %}>2000</option>
		        </select>
		    </div>
		    <div class="pull-right">
		        <label>&nbsp;</label>
		        <button class="btn btn-success">Подобрать</button>
		    </div>
	    </form>
	    <div class="clearfix"></div>
	</div>