﻿{% extends "base.html" %}
{% load thumbnail %}
{% block extended_header %}
        <div class="row-bot">
            <div class="row-bot-bg">
                <div class="main">
                    <div class="slider-wrapper">
                        {% for town in town_list %}
                        <div class="slide active">
                            <div class="picture">
                                {% thumbnail town.gallery.get_main_pict "400x347" crop="center" as image %}
                                    <img src="{{image.url}}" />
                                {% endthumbnail %}
                            </div>                        
                            <div class="desc">
                                <h2>{{town.title}}</h2>
                                <p>{{town.get_announce}}</p>
                                <a href="#" class="btn btn-success btn-large pull-right">Узнай подробнее</a>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="slide">
                            <div class="picture">
                                <img src="{{STATIC_URL}}images/1.jpg" width="400" height="347" />
                            </div>                        
                            <div class="desc">
                                <h2>Дом милый дas fas fs ом</h2>
                                <p>
                                    Таунхаусы расположены таким образом, что каждый владелец апартаментов в таунхаусе (не более 2 на один таунхаусfsa fasdf sadf sf s) имеет собственную площадку — участок не менее 2 соток для отдыха и цветочных газонов перед входом в собственный дом. Здесь можно поставить шезлонги и устроить пикник прямо под окнами своего дома.
                                </p>
                                <a href="#" class="btn btn-success btn-large pull-right">Узнай подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="img-indent2"><img src="{{STATIC_URL}}images/gift.png" alt=""></div>
                        <div class="extra-wrap">
                            <div class="text-1">
                                <span class="gift-title">Ваша скидка ждёт Вас!</span>

                                Заказав звонок через сайт, вы получаете скидку 5 000 р. Для того что бы заказать звонок вы можете заполнить форму в разделе контакты, или нажать кнопку "Заказать звонок" под любым объектом. Скидка действует на все объекты.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block content %}
    
    {% include "filter_snippet.html" %}
    <div class="list-objects-wrapper">
    {% if town_list %}
        <h2>Таунхаусы в Краснодаре</h2>
        {% for object in town_list %}
            {{object.as_list}}
        {% endfor %}
        <a href="{% url towns %}" class="btn btn-large btn-success pull-right">Посмотреть все</a>
        <div class="clearfix"></div>
        </div>
    {% endif %}
    {% if house_list %}
        <h2>Дома в Краснодаре</h2>
        {% for object in house_list %}
            {{ object.as_list }}
        {% endfor %}
        <a href="{% url houses %}" class="btn btn-large btn-success pull-right">Посмотреть все</a>
    {% endif %}
    </div>

    
        
{% endblock %}

{% block bottom_js %}
 <script type="text/javascript">
        $(function(){
            setInterval(function(){
                var Slides = $('.slider-wrapper .slide');
                var current = $('.slider-wrapper .slide.active').index();
                var next = -1;
                if (current >= (Slides.length - 1)){
                    next = 0;
                } else {
                    next = current + 1;
                }

                $(Slides[current]).animate(
                {
                    'opacity': 0,
                }, 
                500, 
                function() {
                    $(Slides[current]).removeClass('active');
                    $(Slides[next]).attr('style','opacity:0').addClass('active');
                    $(Slides[next]).animate(
                    {
                       'opacity': 1,
                    },
                    1000
                    );
                })
            }, 12000);
        });
    </script>
{% endblock %}