{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
	<div class="well">
		<fieldset>
			<legend>{{ object.title }}</legend>
			{% thumbnail object.gallery.get_main_pict "920" as image %}
			<img src="{{ image.url }}"/>
			{% endthumbnail %}
			<p>{{ object.description }}</p>
		</fieldset>
	</div>
{% endblock %}