{% load thumbnail %}
<div class="list-object well">
    <div class="picture">
    	<a href="{{ object.get_url }}">
    		{% thumbnail object.gallery.get_main_pict.path "300" as im %}
    			<img src="{{ im.url }}"/>
    		{% empty %}
    			<p>No image</p>	
    		{% endthumbnail %}
    	</a>
    </div>
    <div class="description">
        <h3><a href="{{object.get_url}}">{{ object.title }}</a></h3>
        <div class="text">
            {{ object.get_announce }}
        </div>
        <div class="properties">
            <ul>
                <li><span>Район:</span> {{object.sector}}</li>
                <li><span>Площадь:</span> {{object.inner_area}} м2</li>
                <li><span>Участок:</span> {{object.area}} сот.</li>
                <li><span>Газ:</span>{{object.get_gas_display}}</li>
            </ul>
            <span class="price">{{object.price}} т.р.</span>                                    
        </div>
        <div class="clearfix"></div>
    </div>
</div>